# -----------------
# Python
# -----------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# -----------------
# Віртуальне середовище
# -----------------
venv/
.env

# -----------------
# IDE та редактори
# -----------------
.idea/
.vscode/
*.swp

# -----------------
# Тести та логи
# -----------------
*.log
.coverage
.pytest_cache/
htmlcov/

# -----------------
# Бази даних SQLite
# -----------------
*.sqlite3
*.db

# -----------------
# Кеши пакетів
# -----------------
__pycache__/
*.spec
build/
dist/
.eggs/
*.egg-info/
